
/* general */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }

    body{
        font-family: sans-serif;
    }

    main{
        height: 100vh;
        width: 100%;
        background-color: black;
    }



    img{
        width: 100%;
    }

    /* sezione h */

    h1{
        font-size: 15px;
        color: white;
        line-height: 1.5rem;
    }

    h2{
        padding-left: 1rem;
        color: white;

    }

    h3{
        color: white;
        text-align: center;
        font-size: 15px;
        padding-top: 0.5rem;
    }

    h4{
        font-size: 12px;
        color: white;
        margin-right: 2rem;
        padding-left: 0.5rem;
    }

    .fa-solid{
        font-size: 15px;
    }

    .p-playlist{
        color: #A3A3A3;
        font-size: 12px;
    }

    .p-menu{
        color: #A3A3A3;
        font-size: 12px;
        position: relative;
        padding: 0 10px;
    }
    p.menu::after{
        content: "";
        position: absolute;
        background-color: greenyellow;
        width:0;
        height: 3px;
        left: 0;
        bottom: 0;
        transition: 0.3s;
    }
    .p-menu:hover{
        color: white;
    }

    .p-menu:hover:after{
       width: 100%;
    }

    .p-main-content{
        padding-left: 1rem;
        color: #A3A3A3;
        font-size: 15px;
        line-height: 1.5rem;
    }

    .subtitle{
        font-size: 12px;
        text-align: center;
        color: #A3A3A3;
        line-height: 1.5rem;
    }

    /* main */

    .container-big{
        display: flex;
        height: 90%;
        width: 100%;
        background-color: #141922;

    }

    .container-left{
        width: 180px;
        height: 100%;
        background-color: black;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        line-height: 1.5rem;
    }

    .logo{
        margin-bottom: 1rem;
    }

    .playlist{
        margin-top: 1rem;

    }


    .container-top{
        width: 100%;
        max-height: 100%;
        overflow-y: scroll;
    }

    

    .btn-area{
        height: 10%;
        width: 100%;
        background-color: #080B12;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .btn-up{
        padding: 0.5rem 2rem;
       border: solid 2px white;
        border-radius: 25px;   
        background-color: #080B12;
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        margin-right: 0.5rem;
    }

    .link-area{
       padding: 1rem 0 2rem 0;
       text-align: center;
    }

    a{
        padding: 0.1rem 1rem;
        text-decoration: none;
        color: #A3A3A3;
        font-size: 10px;
        font-weight: 600;
        position: relative;
        padding: 0 10px;
    }

    a::after{
        content: "";
        position: absolute;
        background-color: greenyellow;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    a:hover{
        color: white;
    }

    a:hover:after{
        width: 100%;
    }

    /* prova */

    #nav{
        text-decoration: none;
        color: #A3A3A3;
        font-size: 10px;
        font-weight: 600;
        position: relative;
        padding: 0;
        display: block;

    }

    #nav::after{
        content: "";
        position: absolute;
        background-color: greenyellow;
        height:0;
        width:3px;
        left: -15px;
        bottom: 0;
        transition: 0.3s;

    }
    #nav:hover{
        color: white;
    }

    #nav:hover:after{
        height: 100%;
    }


    /* sezione card */

    .container-cards, .conteiner-card-2, .conteiner-card-3{
        width: 100%;
        padding: 1rem;
        display: flex;
        gap: 1rem;
    }

    .img-container{
        position: relative;
    }

    

    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: 0.6s;
    }

    .content:hover{
        opacity: 1;
    }
    
    .card{
        width:calc(100% / 6);
    }

    .container-toolbar{
        height: 10%;
        width: 100%;
        background-color: #282828;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .toolbar-content-sx{
        height: 100%;
        width:25%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;

    }

    .sinister-small{
        width: 30px;
        height: 30px;
    }

    .toolbar-content-cent{
        text-align: center;
        width:50%;
        padding: 1rem;
        color: white;
    
    }

    .music{
        margin: 0 auto;
        height: 5px;
        width: 60%;
        border-radius: 25px;
        background-color: #A3A3A3;
    }

    .toolbar-content-dx{
        text-align: right;
        width:25%;
        padding: 1rem;
        display: flex;   
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        color: white;
        font-size: 10px;
    }

    .fa-list, .fa-desktop, .fa-volume-high{
        padding: 0 0.3rem;
    }

    .volume{
        height: 5px;
        width: 50%;
        border-radius: 25px;
        background-color: #A3A3A3;
    }

    /* media q. tablet */
    
    @media screen and (max-width: 780px){
        .container-cards{
            flex-wrap: wrap;
        }

        .card{
            width: calc(100% / 5);
        }

        .volume{
            display: none;
        }
        
    }

    /* media q. smartphone */

    @media screen and (max-width: 480px){
        .container-cards{
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 3);
    }

    .volume{
        display: none;
    }

    }
