
/* general */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }

    body{
        font-family: sans-serif;
    }

    main{
        height: 100vh;
        width: 100%;
        background-color: black;
    }

    .debug{
        border: dashed 2px;
        background-color: yellow;
    }

    img{
        width: 100%;
    }

    /* sezione h */

    h3{
        
        text-align: center;
    }

    /* main */

    .container-big{
        display: flex;
        height: 90%;
        width: 100%;
        background-color: aquamarine;

    }

    .container-left{
        width: 180px;
        height: 100%;
        background-color: black;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        line-height: 1.5rem;
    }

    .logo{
        margin-bottom: 1rem;
    }

    .playlist{
        margin-top: 1rem;

    }


    .container-top{
        width: 100%;
        max-height: 100%;
        overflow-y: scroll;
    }

    

    .btn-area{
        height: 10%;
        width: 100%;
        background-color: #080B12;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .btn-up{
        padding: 0.5rem 2rem;
       border: solid 2px white;
        border-radius: 25px;   
        background-color: #080B12;
        color: aliceblue;
        text-decoration: none;
        height: 60%;
        margin-right: 0.5rem;
    }

    .link-area{
       padding: 1rem;
       text-align: center;
    }

    a{
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: grey;
        font-size: 15px;
        font-weight: 600;
    }


    /* sezione card */

    .container-cards, .conteiner-card-2, .conteiner-card-3{
        width: 100%;
        padding: 1rem;
        display: flex;
        gap: 1rem;
    }

    .card{
        width:calc(100% / 6);
    }

    .container-toolbar{
        height: 10%;
        width: 100%;
        background-color: crimson;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .toolbar-content-sx{
        width:25%;
        padding: 1rem;

    }

    .toolbar-content-cent{
        text-align: center;
        width:50%;
        padding: 1rem;

        
    }

    .toolbar-content-dx{
        text-align: right;
        width:25%;
        padding: 1rem;       
    }

    /* media q. tablet */
    
    @media screen and (max-width: 780px){
        .container-cards{
            flex-wrap: wrap;
        }

        .card{
            width: calc(100% / 5);
        }
        
    }

    /* media q. smartphone */

    @media screen and (max-width: 480px){
        .container-cards{
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 3);
    }

    }
